*{

margin:0;
padding: 0;

}


.block{

width: auto;
  height: 12vh;
    width: auto;
    margin-top: 0;
    display: flex;
    text-align: center;
    background-color: black;



}

a{
    text-decoration: none;
    color:plum;
    font-size: large;
    font-weight: 500px;
}

li{list-style-type: none;
}


.nav-links1{
    padding-right: 100px;
    position: absolute;
    left: 150px;
    top: 25px;
    transition: 1.2s;
}

.nav-links2{
    padding-right: 100px;
    position: absolute;
    left: 480px;
    top: 25px;
    cursor: pointer;
    transition: 1.2s;

}

.nav-links3{
    padding-right: 100px;
    position: absolute;
    left: 850px;
    top: 25px;
}

.nav-links3:hover{
    position: absolute;
    top: 10px; 
    background-color:purple ;
    border-radius: 25px;
    margin-left: -50px;
    padding: 15px  50px 15px 50px;
    color: white;
    

}


.nav-links2:hover{
color:white;
cursor: pointer;
font-size: bolder;
font-size: 20px;
}

.nav-links1:hover{
    color:white;
    font-size: bolder;
    cursor: pointer;
    font-size: 20px;
    /* list-style-type: none; */
}





/*   Home page part */

    .box{
    
        width: 200px;
    height: 200px;
    
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    position:absolute;
    
    transition-duration: 1s;
    
    
    }
    
    
    @keyframes myanimation {
        
        0%{background-color: peru; color:white; left:0px; top:0; border-radius: 50%  50% 50% 50%;}
        100%{background-color:maroon; color:white; left:0px; top:370px; border-radius: 50%  50% 50% 50% ;}

   
    }
    .box h3{
        position: relative;
        top:70px;
        }
    
        .box:hover{
    
            background:green;
            border-radius: 50%;
            transform: rotateX(360deg);
        
        }
    
    .para h1{
    position: absolute;
        font-family:Georgia, 'Times New Roman', Times, serif;
        line-height: 30px;
        font-weight: 800;
    text-align: center;
    color:burlywood;    
    top: 100px;
    left: 320px;
    animation-name: heading;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    }  
    
    @keyframes heading {
        0%{
    
            transform: translateY(-500px);
        }
        100%
    {
        transform: translateY(0px);
    
    }
    }
    
    .para h3{
    
    
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        font-size: 18px;
        max-width: 960px;
        text-align: center;
        top: 160px;
        left: 80px;
        
        color:white;
        animation-name:lines;
        animation-duration: 1s;
        animation-fill-mode: forwards;   
    
    }
    
        @keyframes lines {
            0%{
        
                transform: translateX(-1000px);
            }
            100%
        {
            transform: translateX(0px);
        
        }
    }
    

    .footer{
       position:absolute;
       top: 900px;
        padding-top: 10px;
        text-align: center;
        background-color:black;
        height: 30px;
        width: 1263px;
        font-family: "open sans";
        color:white ;
    }


    .banner{
        position: absolute;
        top: 60px;
        width: 100%;
        height: 150vh;
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./esports_arenas_main.jpg);
        background-size: cover;
        background-position: center;
        z-index: -1;
        opacity:5;
    }


     .video{
      position: relative;
      top: -30px;
      margin-left: 800px;
      z-index: 1;
        } 

        